.home {
    padding: 2rem;
    text-align: center;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center; /* Center the grid */
    max-width: 1200px; /* Optional: adjust the maximum width */
    margin: 0 auto; /* Center the grid horizontally */
  }
  
  @media (max-width: 1200px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }
  